/*Mobile screens*/
.info-boxes {
  color: #000;
}
.info-boxes h1 {
  font-size: 1.2rem;
}

.info-boxes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* Larger screens */
@media (min-width: 768px) {
  .info-boxes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three items per row */
    gap: 1rem;
    margin: 2rem 0;
  }
}
